<div class="jumbotron">
    <h1 class="display-4">MI PRIMER PINTEREST</h1>
    <p class="lead">Introduccion a Ruby on Rails</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo mollitia sequi rerum similique enim accusantium corrupti, vero dolores debitis ut totam magni deleniti! Voluptatibus debitis sint a unde doloribus eius?Velit, illum! Natus culpa ex atque illum, repellendus, doloribus molestias repellat eveniet commodi laudantium quod? Quidem, voluptatum sit eum sed, mollitia unde temporibus dolore quibusdam doloribus consequuntur perspiciatis, eius dicta?</p>
</div>

<div class="row">
    <div class="col md-6">
        <!-- 4:3 aspect ratio -->
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_qV_6ZG1Owo" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col">
        <h1>Unete a la comunidad</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam debitis at distinctio sapiente inventore eligendi reiciendis ad autem, deleniti necessitatibus molestias harum, consequatur velit in error? Reprehenderit assumenda nihil ex!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt est quasi repellendus reprehenderit tempore error nisi saepe quisquam veniam repellat debitis omnis, esse exercitationem? Quod nemo itaque perspiciatis laudantium quidem.</p>
    </div>
</div>
